.header {
  margin: 45px 0 40px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  flex-direction: column;
}

@media screen and (max-width: 660px) {
  .header {
    margin: 28px 0 42px;
  }
}
