.photo-container__delete-button {
  margin: 0;
  padding: 0;
  height: 19px;
  width: 18px;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/buttons/delete_image.svg);
  background-color: transparent;
  object-position: center;
  object-fit: cover;
}

.photo-container__delete-button:hover {
  opacity: .8;
}
