.popup__save {
  border-radius: 2px;
  background: #000;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  flex-shrink: 0;
  border: none;
  margin: 13px auto 0;
  width: 100%;
  min-height: 50px;
}

.popup__save:hover {
  opacity: .8;
}

@media screen and (max-width: 660px) {
  .popup__save {
    margin-top: 10px;
    font-size: 14px;
    min-height: 46px;
  }
}
