.profile__content {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
}

@media screen and (max-width: 768px) {
  .profile__content {
    justify-content: center;
    column-gap: 10px;
  }
}
